<div id="title-background">
  <div id="title">
    <h1>Dashboard</h1>
  </div>
</div>
<h2 class="welcome">Welcome {{username}}</h2>
{{#each blogs}}
  <div class="card">
    <div class="card-divider">
      <div class="card-title">
        <a href="/api/blogs/{{id}}">{{title}}</a>
      </div>
      <div class="created">
        Created on
        {{short createdAt}}
      </div>
    </div>
    <div class="card-section">
      {{#each Comments}}
        <div class="card-section comment">
          {{username}}
          wrote:
          {{body}}
          on
          {{short createdAt}}
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}